{% extends "core/base.html" %}
{% block content %}

<h2>Diabetes Prediction</h2>

<form method="POST">
  <input name="pregnancies" placeholder="Pregnancies" required>
  <input name="glucose" placeholder="Glucose Level" required>
  <input name="blood_pressure" placeholder="Blood Pressure" required>
  <input name="skin_thickness" placeholder="Skin Thickness" required>
  <input name="insulin" placeholder="Insulin Level" required>
  <input name="bmi" placeholder="BMI" required>
  <input name="dpf" placeholder="Diabetes Pedigree Function" required>
  <input name="age" placeholder="Age" required>

  <button type="submit">Run Prediction</button>
</form>

{% endblock %}

