<footer class="text-center py-4">
    <div class="container">
        <p>Made By</p>
        <p>
            <a href="https://github.com/" target="_blank" style="color: #c44141;">Vanshika</a>,
            <a href="https://github.com/" target="_blank" style="color: #c44141;">Jai N</a>,
            <a href="https://github.com/" target="_blank" style="color: #c44141;">Hitesh</a>,
            <a href="https://github.com/" target="_blank" style="color: #c44141;">Jai T</a>
        </p>
    </div>
</footer>
